<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SampleProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerSignup</display-name>
    <servlet-name>CustomerSignup</servlet-name>
    <servlet-class>com.aspiresys.CustomerSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSignup</servlet-name>
    <url-pattern>/CustomerSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPet</display-name>
    <servlet-name>AdminAddPet</servlet-name>
    <servlet-class>com.aspiresys.com.AdminAddPet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPet</servlet-name>
    <url-pattern>/AdminAddPet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddAccessories</display-name>
    <servlet-name>AdminAddAccessories</servlet-name>
    <servlet-class>com.aspiresys.AdminAddAccessories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddAccessories</servlet-name>
    <url-pattern>/AdminAddAccessories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.aspiresys.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeletePet</display-name>
    <servlet-name>AdminDeletePet</servlet-name>
    <servlet-class>com.aspiresys.AdminDeletePet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeletePet</servlet-name>
    <url-pattern>/AdminDeletePet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReport</display-name>
    <servlet-name>CustomerReport</servlet-name>
    <servlet-class>com.aspiresys.CustomerReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReport</servlet-name>
    <url-pattern>/CustomerReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAcessories</display-name>
    <servlet-name>AdminDeleteAcessories</servlet-name>
    <servlet-class>com.aspiresys.AdminDeleteAcessories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAcessories</servlet-name>
    <url-pattern>/AdminDeleteAcessories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoggedin</display-name>
    <servlet-name>CustomerLoggedin</servlet-name>
    <servlet-class>com.aspiresys.CustomerLoggedin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoggedin</servlet-name>
    <url-pattern>/CustomerLoggedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBuyPet</display-name>
    <servlet-name>CustomerBuyPet</servlet-name>
    <servlet-class>com.aspiresys.CustomerBuyPet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBuyPet</servlet-name>
    <url-pattern>/CustomerBuyPet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBuyAccessories</display-name>
    <servlet-name>CustomerBuyAccessories</servlet-name>
    <servlet-class>com.aspiresys.CustomerBuyAccessories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBuyAccessories</servlet-name>
    <url-pattern>/CustomerBuyAccessories</url-pattern>
  </servlet-mapping>
</web-app>